PORT=4000
NODE_ENV=development
QUEUE_MODE=inline
JWT_EXPIRES_IN=7d
DEFAULT_DAILY_EMAIL_LIMIT=100
RATE_LIMIT_WINDOW_MINUTES=15
RATE_LIMIT_MAX_REQUESTS=200
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kalaburagitech@gmail.com
SMTP_PASS=qnrh sjcv myvf womt
DATABASE_URL=postgresql://postgres:HLGdstCSAzePepfQUXOaOnHhipNKIDnX@gondola.proxy.rlwy.net:40486/railway?sslmode=require
REDIS_URL=redis://default:QwwBrrDYdcdVSDZwiqblWjnZirxwmlea@monorail.proxy.rlwy.net:36237
JWT_SECRET=mykalaburagitechsmtpforallemailhandlingalsowebsitehandlingemail

