PORT=4000
NODE_ENV=development
JWT_EXPIRES_IN=7d
DEFAULT_DAILY_EMAIL_LIMIT=100
RATE_LIMIT_WINDOW_MINUTES=15
RATE_LIMIT_MAX_REQUESTS=200
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kalaburagitech@gmail.com
SMTP_PASS=kalaburagi@1999
DATABASE_URL=postgresql://postgres:MiCVjnqXqMrYuEnWGcKzoiLFBiAidQsm@postgres.railway.internal:5432/railway
REDIS_URL=redis://default:QwwBrrDYdcdVSDZwiqblWjnZirxwmlea@redis.railway.internal:6379
JWT_SECRET=mykalaburagitechsmtpforallemailhandlingalsowebsitehandlingemail

